Repository FabricMC/fabric, pull requests merged in 2020-11, with the labels that each got.

#1124 Explore publishing releases using github actions
  .github/workflows/build.yml
  .github/workflows/release.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: enhancement

#1152 Temp fix for feature renderer testmod, update mappings, reimplement client entity events
  build.gradle
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/ServerWorldEntityLoaderMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/client/ClientChunkManagerMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/client/ClientPlayNetworkHandlerMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/client/ClientWorldEntityLoaderMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/client/ClientWorldMixin.java
  fabric-lifecycle-events-v1/src/main/resources/fabric-lifecycle-events-v1.mixins.json
  fabric-object-builder-api-v1/src/main/java/net/fabricmc/fabric/api/object/builder/v1/block/FabricBlockSettings.java
  fabric-object-builder-api-v1/src/main/java/net/fabricmc/fabric/api/object/builder/v1/block/FabricMaterialBuilder.java
  fabric-object-builder-api-v1/src/main/java/net/fabricmc/fabric/mixin/object/builder/AbstractBlockSettingsAccessor.java
  fabric-object-builder-api-v1/src/main/resources/fabric-object-builder-api-v1.accesswidener
  fabric-object-builders-v0/src/main/java/net/fabricmc/fabric/api/block/BlockSettingsExtensions.java
  fabric-object-builders-v0/src/main/java/net/fabricmc/fabric/api/block/FabricBlockSettings.java
  fabric-object-builders-v0/src/main/java/net/fabricmc/fabric/api/block/FabricMaterialBuilder.java
  fabric-renderer-registries-v1/src/main/java/net/fabricmc/fabric/mixin/client/renderer/registry/MixinEntityRenderers.java
  fabric-renderer-registries-v1/src/testmod/java/net/fabricmc/fabric/test/renderer/registry/FeatureRendererTest.java
  fabric-tool-attribute-api-v1/src/testmod/java/net/fabricmc/fabric/test/tool/attribute/ToolAttributeTest.java
Labels: enhancement, small change, test

#1110 Fix items with sword tool tag not instantly breaking bamboo
  fabric-tool-attribute-api-v1/src/main/java/net/fabricmc/fabric/mixin/tool/attribute/BambooBlockMixin.java
  fabric-tool-attribute-api-v1/src/main/resources/fabric-tool-attribute-api-v1.mixins.json
Labels: bug, merge me please

#1134 Resource loader: internal refactor, remove legacy code, fix FabricMC/fabric#878.
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/impl/resource/loader/DeferredInputStream.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/impl/resource/loader/DeferredNioExecutionHandler.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/impl/resource/loader/ModNioResourcePack.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/impl/resource/loader/ModResourcePackUtil.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/impl/resource/loader/ResourceManagerHelperImpl.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/DefaultResourcePackMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/KeyedResourceReloadListenerMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/MinecraftServerMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/MixinKeyedResourceReloadListener.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/MixinReloadableResourceManagerImpl.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/ReloadableResourceManagerImplMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/ResourcePackManagerMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/client/ClientBuiltinResourcePackProviderMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/client/CreateWorldScreenMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/client/FontManagerResourceReloadListenerMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/client/GameOptionsMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/client/KeyedResourceReloadListenerClientMixin.java
  fabric-resource-loader-v0/src/main/java/net/fabricmc/fabric/mixin/resource/loader/client/PackScreenMixin.java
  fabric-resource-loader-v0/src/main/resources/fabric-resource-loader-v0.mixins.json
Labels: bug, enhancement, merge me please

#830 End Biomes Api [1.16]
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/api/biome/v1/TheEndBiomes.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/InternalBiomeData.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/InternalBiomeUtils.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/SimpleLayerRandomnessSource.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/WeightedBiomeEntry.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/WeightedBiomePicker.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/mixin/biome/MixinTheEndBiomeSource.java
  fabric-biome-api-v1/src/main/resources/fabric-biome-api-v1.mixins.json
  fabric-biome-api-v1/src/testmod/java/net/fabricmc/fabric/test/biome/FabricBiomeTest.java
Labels: enhancement, last call, merge me please, test

#1163 Spin up a dedicated server on github actions + add run tasks for test mods.
  .github/workflows/build.yml
  build.gradle
  fabric-api-base/build.gradle
  fabric-api-base/src/testmod/java/net/fabricmc/fabric/test/base/FabricApiBaseTestInit.java
  fabric-api-base/src/testmod/resources/fabric.mod.json
Labels: enhancement, merge me please, small change

#963 fabric-rendering-v1: Custom Armor Model & Texture
  fabric-rendering-v1/build.gradle
  fabric-rendering-v1/src/main/java/net/fabricmc/fabric/api/client/rendering/v1/ArmorRenderingRegistry.java
  fabric-rendering-v1/src/main/java/net/fabricmc/fabric/impl/client/rendering/ArmorProviderExtensions.java
  fabric-rendering-v1/src/main/java/net/fabricmc/fabric/impl/client/rendering/ArmorRenderingRegistryImpl.java
  fabric-rendering-v1/src/main/java/net/fabricmc/fabric/mixin/client/rendering/MixinArmorFeatureRenderer.java
  fabric-rendering-v1/src/main/java/net/fabricmc/fabric/mixin/client/rendering/MixinItem.java
  fabric-rendering-v1/src/main/resources/fabric-rendering-v1.mixins.json
  fabric-rendering-v1/src/testmod/java/net/fabricmc/fabric/test/rendering/CustomArmorTests.java
  fabric-rendering-v1/src/testmod/java/net/fabricmc/fabric/test/rendering/client/CustomArmorTestsClient.java
  fabric-rendering-v1/src/testmod/resources/assets/fabric-rendering-v1-testmod/textures/cube.png
  fabric-rendering-v1/src/testmod/resources/assets/fabric-rendering-v1-testmod/textures/custom_texture.png
  fabric-rendering-v1/src/testmod/resources/assets/fabric-rendering-v1-testmod/textures/models/armor/simple_textured_armor_layer_1.png
  fabric-rendering-v1/src/testmod/resources/fabric.mod.json
Labels: enhancement, merge me please, reviews needed, test

#1104 Add module dependencies to maven POM
  build.gradle
  fabric-blockrenderlayer-v1/build.gradle
  fabric-command-api-v1/build.gradle
  fabric-commands-v0/build.gradle
  fabric-containers-v0/build.gradle
  fabric-content-registries-v0/build.gradle
  fabric-dimensions-v1/build.gradle
  fabric-events-interaction-v0/build.gradle
  fabric-events-lifecycle-v0/build.gradle
  fabric-item-api-v1/build.gradle
  fabric-item-groups-v0/build.gradle
  fabric-keybindings-v0/build.gradle
  fabric-lifecycle-events-v1/build.gradle
  fabric-loot-tables-v1/build.gradle
  fabric-mining-levels-v0/build.gradle
  fabric-models-v0/build.gradle
  fabric-networking-blockentity-v0/build.gradle
  fabric-networking-v0/build.gradle
  fabric-object-builder-api-v1/build.gradle
  fabric-object-builders-v0/build.gradle
  fabric-particles-v1/build.gradle
  fabric-registry-sync-v0/build.gradle
  fabric-renderer-api-v1/build.gradle
  fabric-renderer-indigo/build.gradle
  fabric-renderer-registries-v1/build.gradle
  fabric-rendering-data-attachment-v1/build.gradle
  fabric-rendering-fluids-v1/build.gradle
  fabric-rendering-v0/build.gradle
  fabric-rendering-v1/build.gradle
  fabric-screen-handler-api-v1/build.gradle
  fabric-tag-extensions-v0/build.gradle
  fabric-textures-v0/build.gradle
  fabric-tool-attribute-api-v1/build.gradle
Labels: enhancement, merge me please, small change

#1164 End Biomes Api [1.16] Take Two
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/api/biome/v1/TheEndBiomes.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/InternalBiomeData.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/InternalBiomeUtils.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/SimpleLayerRandomnessSource.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/WeightedBiomeEntry.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/impl/biome/WeightedBiomePicker.java
  fabric-biome-api-v1/src/main/java/net/fabricmc/fabric/mixin/biome/MixinTheEndBiomeSource.java
  fabric-biome-api-v1/src/main/resources/fabric-biome-api-v1.mixins.json
  fabric-biome-api-v1/src/testmod/java/net/fabricmc/fabric/test/biome/FabricBiomeTest.java
Labels: enhancement, merge me please, reviews needed, test

#1168 Fix MC-202036 - Shifting biome IDs
  fabric-registry-sync-v0/src/main/java/net/fabricmc/fabric/impl/registry/sync/PersistentDynamicRegistryHandler.java
  fabric-registry-sync-v0/src/main/java/net/fabricmc/fabric/mixin/registry/sync/AccessorLevelStorageSession.java
  fabric-registry-sync-v0/src/main/java/net/fabricmc/fabric/mixin/registry/sync/MixinMain.java
  fabric-registry-sync-v0/src/main/java/net/fabricmc/fabric/mixin/registry/sync/client/MixinMinecraftClient.java
  fabric-registry-sync-v0/src/main/resources/fabric-registry-sync-v0.mixins.json
Labels: bug, merge me please, registry-sync

#1174 Add command to audit mixin environment in game
  fabric-api-base/build.gradle
  fabric-api-base/src/testmod/java/net/fabricmc/fabric/test/base/FabricApiBaseTestInit.java
Labels: merge me please, test

#1175 Drop use of remote buildscripts
  build.gradle
Labels: merge me please, small change

#1176 Fix MC-149777 - java.util.ConcurrentModificationException when using Java 11 or above
  fabric-structure-api-v1/src/main/java/net/fabricmc/fabric/mixin/structure/StructureManagerMixin.java
  fabric-structure-api-v1/src/main/resources/fabric-structure-api-v1.mixins.json
Labels: bug, merge me please, small change

#1179 Assign a new ID to client only registry entries when syncing.
  fabric-registry-sync-v0/src/main/java/net/fabricmc/fabric/mixin/registry/sync/MixinIdRegistry.java
Labels: bug, merge me please, registry-sync

#1108 Cache the fuel time map in the fuel registry
  fabric-content-registries-v0/build.gradle
  fabric-content-registries-v0/src/main/java/net/fabricmc/fabric/impl/content/registry/FuelRegistryImpl.java
  fabric-content-registries-v0/src/main/java/net/fabricmc/fabric/mixin/content/registry/MixinAbstractFurnaceBlockEntity.java
  fabric-content-registries-v0/src/main/java/net/fabricmc/fabric/mixin/content/registry/client/MixinClientPlayNetworkHandler.java
  fabric-content-registries-v0/src/main/resources/fabric-content-registries-v0.mixins.json
  fabric-content-registries-v0/src/main/resources/fabric.mod.json
Labels: enhancement, merge me please

#1172 Update the Dimension API
  fabric-dimensions-v1/build.gradle
  fabric-dimensions-v1/src/main/java/net/fabricmc/fabric/api/dimension/v1/EntityPlacer.java
  fabric-dimensions-v1/src/main/java/net/fabricmc/fabric/api/dimension/v1/FabricDimensions.java
  fabric-dimensions-v1/src/main/java/net/fabricmc/fabric/impl/dimension/FabricDimensionInternals.java
  fabric-dimensions-v1/src/main/java/net/fabricmc/fabric/mixin/dimension/EntityHooks.java
  fabric-dimensions-v1/src/main/java/net/fabricmc/fabric/mixin/dimension/EntityMixin.java
  fabric-dimensions-v1/src/main/java/net/fabricmc/fabric/mixin/dimension/MixinPortalForcer.java
  fabric-dimensions-v1/src/main/java/net/fabricmc/fabric/mixin/dimension/MixinWorld.java
  fabric-dimensions-v1/src/main/java/net/fabricmc/fabric/mixin/dimension/ServerBugfixMixin.java
  fabric-dimensions-v1/src/main/resources/fabric-dimensions-v1.mixins.json
  fabric-dimensions-v1/src/testmod/java/net/fabricmc/fabric/test/dimension/FabricDimensionTest.java
  fabric-dimensions-v1/src/testmod/java/net/fabricmc/fabric/test/dimension/VoidChunkGenerator.java
  fabric-dimensions-v1/src/testmod/resources/data/fabric_dimension/dimension/void.json
  fabric-dimensions-v1/src/testmod/resources/data/fabric_dimension/dimension_type/void_type.json
  settings.gradle
Labels: enhancement, last call, merge me please, test

#1173 Add tag builder method for the new optional entries
  fabric-tag-extensions-v0/src/main/java/net/fabricmc/fabric/api/tag/FabricDataGeneratorTagBuilder.java
  fabric-tag-extensions-v0/src/main/java/net/fabricmc/fabric/mixin/tag/extension/MixinObjectBuilder.java
  fabric-tag-extensions-v0/src/main/resources/fabric-tag-extensions-v0.mixins.json
Labels: enhancement, merge me please

#1177 Reimplement block entity (un)load events
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/api/event/lifecycle/v1/ServerWorldEvents.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/impl/event/lifecycle/ClientLifecycleEventsImpl.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/impl/event/lifecycle/LifecycleEventsImpl.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/impl/event/lifecycle/LoadedChunksCache.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/MinecraftServerMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/WorldMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/client/ClientPlayNetworkHandlerMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/client/ClientWorldMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/client/WorldChunkMixin.java
  fabric-lifecycle-events-v1/src/main/java/net/fabricmc/fabric/mixin/event/lifecycle/server/WorldChunkMixin.java
  fabric-lifecycle-events-v1/src/main/resources/fabric-lifecycle-events-v1.mixins.json
  fabric-lifecycle-events-v1/src/main/resources/fabric.mod.json
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/ServerBlockEntityLifecycleTests.java
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/ServerEntityLifecycleTests.java
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/ServerLifecycleTests.java
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/ServerResourceReloadTests.java
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/ServerTickTests.java
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/client/ClientBlockEntityLifecycleTests.java
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/client/ClientEntityLifecycleTests.java
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/client/ClientLifecycleTests.java
  fabric-lifecycle-events-v1/src/testmod/java/net/fabricmc/fabric/test/event/lifecycle/client/ClientTickTests.java
Labels: merge me please, test
