Repository FabricMC/fabric, pull requests merged in 2025-10, with the labels that each got.

#4896 Fix custom play payload packets not being handled on the correct thread or in the correct order.
  fabric-networking-api-v1/src/client/java/net/fabricmc/fabric/mixin/networking/client/ClientCommonNetworkHandlerMixin.java
  fabric-networking-api-v1/src/main/java/net/fabricmc/fabric/mixin/networking/ServerCommonNetworkHandlerMixin.java
Labels: bug, module: networking api, priority: high

#4880 Add `AfterBackground` event
  fabric-screen-api-v1/src/client/java/net/fabricmc/fabric/api/client/screen/v1/ScreenEvents.java
  fabric-screen-api-v1/src/client/java/net/fabricmc/fabric/impl/client/screen/ScreenEventFactory.java
  fabric-screen-api-v1/src/client/java/net/fabricmc/fabric/impl/client/screen/ScreenExtensions.java
  fabric-screen-api-v1/src/client/java/net/fabricmc/fabric/mixin/screen/ScreenMixin.java
  fabric-screen-api-v1/src/testmodClient/java/net/fabricmc/fabric/test/screen/ScreenTests.java
Labels: enhancement, status: last call, small change

#4913 Improve access to resource reloaders profiling.
  fabric-resource-loader-v1/README.md
  fabric-resource-loader-v1/src/main/java/net/fabricmc/fabric/impl/resource/v1/FabricResourceReloader.java
  fabric-resource-loader-v1/src/main/java/net/fabricmc/fabric/impl/resource/v1/ResourceLoaderImpl.java
  fabric-resource-loader-v1/src/main/java/net/fabricmc/fabric/mixin/resource/v1/SimpleResourceReloadMixin.java
Labels: enhancement, status: merge me please, small change, priority: low, module: resource loader

#4893 Add refreshCommandCompletions method to fcapi
  fabric-command-api-v2/src/client/java/net/fabricmc/fabric/api/client/command/v2/ClientCommandManager.java
  fabric-command-api-v2/src/client/java/net/fabricmc/fabric/impl/command/client/ClientCommandInternals.java
  fabric-command-api-v2/src/client/java/net/fabricmc/fabric/mixin/command/client/ClientPlayNetworkHandlerMixin.java
  fabric-command-api-v2/src/testmodClient/java/net/fabricmc/fabric/test/command/client/ClientCommandTest.java
Labels: enhancement, status: last call, status: merge me please
